body{
  background-color:#e0ebe8;;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width:4px;
  width: 5%;
}
h1{
  color: black;
}
h3{
  color: #66BFBF;
}
